{% for post in site.posts %}
  {% if post.fid == 20 %} <!-- Just change the fid here to the post you want to display in this feature -->


<div class="col-md-6">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-success">{{ post.categories[0] | capitalize }}</strong>
      <h3 class="mb-0">{{ post.title  }}</h3>
      <div class="mb-1 text-muted">{{ post.date | date: '%B %d, %Y' }}</div>
      <p class="card-text mb-auto">{{ post.summary }}</p>
      <p>&nbsp;</p>
      <a href="{{site.url}}{{site.baseurl}}{{ post.url }}" class="stretched-link">Continue reading</a>
    </div>
    <div class="col-auto d-none d-lg-block">
      <img src="{{site.url}}{{site.baseurl}}{{post.thumbnail}}" />
    </div>
  </div>
</div>

  {% endif %}
{% endfor %}