<h3 class="pb-4 mb-4 fst-italic border-bottom">Latest Blog Posts</h3>

{% for post in site.posts %}
  
  <article class="blog-post">
    <h2 class="blog-post-title mb-1">
      <a href="{{site.url}}{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
    </h2>
    <p class="blog-post-meta">{{ post.date | date: '%B %d, %Y' }} by <a href="{{site.url}}{{site.baseurl}}/authors/{{ post.author }}">{{ post.author }}</a></p>
    {{ post.excerpt }}

    <p><strong>Tags: </strong>
      {% for tag in post.tags %}
      {{tag}}, 
      {% endfor %}
    </p>
  </article>

{% endfor %}