<div class="p-4 rounded section-bg">
  <h4 class="fst-italic">Social Links</h4>
  <dl>
    <dt>GitHub: 
      <a href="https://github.com/{{ site.social.github }}" target="_blank">
        @{{ site.social.github }}
      </a>
    </dt>
    <dt>Twitter: 
      <a href="https://twitter.com/{{ site.social.twitter }}" target="_blank">
        @{{ site.social.twitter }}
     </a>
    </dt>
    <dt>Discord: 
      <a href="{{ site.social.discord.add_user }}" target="_blank">
        {{ site.social.discord.username }}
     </a>
    </dt>
  </dl>
  <p>Join our support server if you need assistance or to just chat.</p>
  <p><strong>Newspaper Support:</strong> <a href="{{ site.social.discord.join_server }}" target="_blank">
    {{ site.social.discord.support_server }}
 </a></p>
</div>