{% include top.html %}
  <body class="bg-light">
    
    <div class="container">
      {% include header.html %}
      
      {% include category_navbar.html %}
    </div>

    <main class="container">
      
      {% include hero.html %}

      <div class="row mb-2">
        
        {% include feature_left.html %}

        {% include feature_right.html %}

      </div>

      <div class="row g-5">
        <div class="col-md-8">

          {% include post_feed.html %}

          {% include pagination.html %}

        </div>

        <div class="col-md-4">
          {% include sidebar.html %}
        </div>
      </div>
      
    </main>

    {% include footer.html %}
    
  </body>
</html>
