{% include top.html %}

<body>
  <main class="container" style="padding-top: 42px;">
    <a href="{{site.url}}{{site.baseurl}}">Home</a>
    <article class="blog-post" style="padding-top: 12px;">

      <h2 class="blog-post-title mb-1">{{ page.title }}</h2>
      <p></p>
      <p class="blog-post-meta"><strong>On: </strong>{{ page.date }} | By: <a href="{{site.url}}{{site.baseurl}}/authors/{{page.author}}">{{ page.author }}</a></p>
      <p><strong>Tags: </strong>
        {% for tag in page.tags %}
        {{tag}}, 
        {% endfor %}
      </p>

      {{content}}
      
      <strong>Categories:</strong> 
      {% for category in page.categories %} 
      <a href="{{category.url}}">{{category}}</a>, 
      {% endfor %}
    </article>
  </main>


{% include footer.html %}